<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/main.css}" rel = "stylesheet">
  <title>Superheroes</title>
</head>
<body>

<h1><center>Superheroes</center></h1>
<div th:each="hero : ${superheroes}">
  <span th:text="${hero.superheroName}"></span>
  <span th:text="${hero.realName}"></span>
  <span th:text="${hero.discoveryYear}"></span>
  <button><span th:text="${hero.superPowers}"></span>Superpowers</button>
</div>

<a href="http://localhost:8080/superheroes/create">
  <button>Create new Superhero</button>
</a>

</body>
</html>
